<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="buttons">
    <section>
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           routerLinkActive
           routerLink="/html2canvasPrintJs"
           #html2canvasPrintJsTab="routerLinkActive"
           [active]="html2canvasPrintJsTab.isActive">
          html2canvas & print-js
        </a>
        <a mat-tab-link
           routerLinkActive
           routerLink="/ngxPrint"
           #ngxPrintTab="routerLinkActive"
           [active]="ngxPrintTab.isActive">
          ngx-print
        </a>
      </nav>
    </section>
  </div>
  <router-outlet></router-outlet>
</div>
